<div class="intro lib-container--intro" id="brouwerverpakkingen">
    <div class="intro--left__items">
        <p class="intro--left__items__floor">verpakkingen</p>
        <p class="intro--left__items__floor">slitting</p>
        <p class="intro--left__items__floor">verpakkingsmateriaal</p>
    </div>

    <div class="intro--right">
        <div class="intro--right__text__title">
            <p>brouwer verpakkingen</p>
        </div>
<!--        Misschien later toch nog aanzetten? -->
<!--        <div class="intro&#45;&#45;right__text__subtitle">-->
<!--            <p>Producent in kartonnen kokers</p>-->
<!--        </div>-->
        <div class="intro--right__text__content">
            <p class="intro--right__text__content__ons">
                Brouwer Verpakkingen is producent van kartonnen kokers in alle mogelijke soorten en kwaliteiten.<br><br>
                Met onze ervaring van meer dan 30 jaar weten we precies aan welke eisen de kartonnen kokers moeten voldoen.<br>
                Daarom zoeken we altijd naar een geschikte oplossing voor u als klant.
<!--                -->
<!--                Brouwer Verpakkingen is producent van kartonnen kokers, tapijtkokers,-->
<!--                garenhulzen, en posterkokers in de diameters 50 mm tot en met 200 MM (alle lengtes).-->
<!--                <br><br>-->
<!--                Verpakkingen zijn geheel op maat in alle varianten en oplagen mogelijk.-->
            </p>
        </div>
    </div>
</div>
