/* intro */
.intro {
  display: flex;
  padding-top: 100px;
  font-family: 'Cinzel Decorative', sans-serif;
  max-width: 1166px;
  width: 1166px;
  justify-content: center;

  @media (max-width: 768px) {
    width: 100%;
    padding-top: 50px;
  }

  &--left__items {
    color: #2d7f7d;
    font-size: 35px;
    text-align: center;
    width: 479px;

    @media (max-width: 768px) {
      display: none;
    }

    &__floor {
      margin-bottom: 66px;
    }

    &__floor:last-child {
      margin-bottom: 0;
    }
  }

  &--right {
    padding-left: 10px;
    width: 687px;

    @media (max-width: 768px) {
      width: 100%;
      padding-right: 10px;
    }

    &__text {
      &__title {
        color: #2d7f7d;
        font-size: 40px;
        text-align: center;

        @media (max-width: 768px) {
          font-size: 22px;
        }
      }

      &__subtitle {
        font-size: 40px;
        text-align: center;

        @media (max-width: 768px) {
          font-size: 27px;
        }
      }

      &__content {
        font-family: "ProzaLibre", sans-serif;
        font-size: 20px;
        line-height: 1.1;
        text-align: center;
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
          font-size: 14px;
          line-height: 1.3;
        }

        &__ons {
          text-align: center;
          margin-top: 40px;
          width: 480px;

          @media (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }
  }
}

p {
  margin: 10px 0;
}

.span {
  width: 12%;
}
