/* offerte */
.offerte {
  background-color: #e8efef;
  margin-top: 150px;
  width: 100%;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  &--title {
    display: flex;
    justify-content: center;

    &__title {
      display: flex;
      justify-content: center;
      font-family: 'Cinzel Decorative', sans-serif;
      font-size: 40px;
      color: #2d7f7d;
    }

    &__span {
      width: 687px;

      @media (max-width: 768px) {
        width: 0;
      }

      @media (max-width: 480px) {
        width: 0;
      }
    }
  }
}
