<app-menu></app-menu>
<div class="lib-container">
    <app-images></app-images>
<!--    <app-about></app-about>-->
    <app-intro></app-intro>
</div>
<app-diensten></app-diensten>
<!--<div class="lib-container">-->
<!--    <app-review></app-review>-->
<!--</div>-->
<app-contact></app-contact>
<app-footer></app-footer>
