/* menu */
.menu {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px #00000029;
  position: fixed;
  width: 100%;
  z-index: 1000;
  color: #009f96;

  @media (max-width: 2200px) {
    &--item-mobile {
      display: none
    }

    &--item-desktop {
      color: #009f96;
      font-family: 'Cinzel Decorative', sans-serif;
      font-size: 18px;
      display: flex;

      &-item {
        margin: 0 10px 0 10px;
      }

      &-item:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &--item-desktop:active {
      color: #009f96;
    }
  }

  @media (max-width: 768px) {
    padding-right: 30px;

    &--item-mobile {
      border: 2px solid #2d7f7d;
      border-radius: 26px;
      width: 48px;
      height: 48px;
      background: #2d7f7d;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(50%);
      z-index: 2000;
      position: fixed;
      right: 50px;

      &--button {
        border: none;
        background: none;
        cursor: pointer;
      }
    }

    &--item-desktop {
      display: none;
    }
  }

  &--item-desktop-item {
    color: #009f96;
  }
}

.menu--content {
  display: none;
}

.menu--content.active {
  display: block;
  position: fixed;
  width: 250px;
  right: 0;
  background: white;
  box-shadow: 0 3px 6px #2d7f7d;
  z-index: 30;
}

.menu--content__items {
  color: #2d7f7d;
  padding-top: 80px;
  text-align center;
  font-size: 25px;
  font-family: "CinzelDecorative", sans-serif;
  line-height: 1.75;
  cursor: pointer;
}

.menu--item-desktop-item {
  text-decoration: none;
  color: #2d7f7d;

  a:hover {
    text-decoration: underline;
  }
}

.menu--logo {
  display: flex;
  align-items: center;

  > img {
    position: absolute;
    width: 71px;
    left: 1%;

    @media (max-width: 768px) {
      left: 4%;
    }

  }
}

.menu--item-desktop-item:visited {
  color: #009f96;
}

.menu--hamburger {
  display: none;

  @media (max-width: 768px) {
    display: block;
    position: absolute;
    right: 70px;
  }
}




.mobile-menu {
    height: 100%;
    position: fixed;
    background: white;
    width: 60%;
    right: 0;
    top: 0;
    z-index: 10;
    //margin-right: 0;
    padding-top: 100px;
    transition: all 0.8s ease-in-out;

    &--item {
      padding: 20px;
      border-bottom: 1px solid #e4e3e3;
      color: #2d7f7d;

       &-href {
         text-decoration: none;
       }
    }
}

.mobile-menu.active {
    transition: all 0.8s ease-in-out;
    //margin-right: -400px;
}
