<div class="menu-fixed">
<div class="menu">
    <a href="./" class="menu--logo">
        <img src="./assets/contact/logo-br.jpg">
    </a>
    <div class="menu--item-desktop">
        <a href="#brouwerverpakkingen" class="menu--item-desktop-item">
            <div>
                Brouwer Verpakkingen
            </div>
        </a>
        <a href="#diensten" class="menu--item-desktop-item">
            <div>Onze diensten</div>
        </a>
        <a href="#contact" class="menu--item-desktop-item">
            <div>Contact</div>
        </a>
        <a href="/offerte" class="menu--item-desktop-item">
            <div>Offerte aanvragen</div>
        </a>
    </div>
    <div class="menu--hamburger" (click)="toggleDisplay()" *ngIf="!isDisplay">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25px"><path d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"/></svg>
    </div>
    <div class="menu--hamburger" (click)="closeDisplay()" *ngIf="isDisplay">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25px"><path d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41Z"/></svg>
    </div>
</div>
</div>



<div class="mobile-menu" [ngClass]="{'active': isDisplay === isDisplay}" *ngIf="isDisplay">
    <a href="#brouwerverpakkingen" (click)="closeDisplay()" class="mobile-menu--item-href">
        <div class="mobile-menu--item">
            Brouwer Verpakkingen
        </div>
    </a>
    <a href="#diensten" (click)="closeDisplay()" class="mobile-menu--item-href">
        <div class="mobile-menu--item">Onze diensten</div>
    </a>
    <a href="#contact" (click)="closeDisplay()" class="mobile-menu--item-href">
        <div class="mobile-menu--item">Contact</div>
    </a>
    <a href="/offerte" (click)="closeDisplay()" class="mobile-menu--item-href">
        <div class="mobile-menu--item">Offerte aanvragen</div>
    </a>
</div>
