<div class="kokers lib-container--kokers">

    <div class="logo--small--top">
        <img class="logo--small--top__img" src="./assets/logo/logo-mini-nieuw.png">
        <span class="kokers--title__span"></span>
    </div>

    <div class="kokers--title" id="diensten">
        <h1 class="kokers--title__title">onze diensten</h1>
        <span class="kokers--title__span"></span>
    </div>

    <div class="kokers--cards">
        <div class="kokers--cards__row__top">
            <div class="kokers--cards__row__top__width kokers--cards__row__top__width--mobile">
                <div class="kokers--cards__row__top__width--mobile--first">
                    <div class="card" *ngFor="let floorfirsttop of floorsfirsttop">
                        <div [routerLink]="floorfirsttop.url" class="card--img">
                            <img class="card--img__floors" src="{{ floorfirsttop.img }}">
                        </div>
                        <div class="card--title">
                            {{ floorfirsttop.text }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="logo--small--bottom">
        <span class="logo--small--bottom__span"></span>
        <img class="logo--small--bottom__img" src="./assets/logo/logo-mini-nieuw.png">
    </div>

</div>
