/* kokers */
.kokers {
  background-color: #e8efef;
  width: 100%;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  &--title {
    display: flex;
    justify-content: center;

    &__title {
      display: flex;
      justify-content: center;
      font-family: 'Cinzel Decorative', sans-serif;
      font-size: 40px;
      color: #2d7f7d;
    }

    &__span {
      width: 687px;

      @media (max-width: 768px) {
        width: 0;
      }

      @media (max-width: 480px) {
        width: 0;
      }
    }
  }

  &--cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__row {
      &__top {
        padding-top: 41px;

        &__width {
          display: flex;
          justify-content: center;

          &--mobile {
            &--first {
              display: flex;
              padding-right: 26px;
            }

            &--second {
              display: flex;
              padding-right: 26px;
            }

            &--second:last-child {
              display: flex;
              padding-right: 0;
            }
          }

          @media (max-width: 768px) {
            &--mobile {
              display: block;

              &--first {
                flex-direction: column;
                padding-right: 0;
              }

              &--second {
                padding-right: 0;
              }
            }
          }
        }
      }

      &__bottom {
        padding-top: 80px;

        @media (max-width: 768px) {
          padding-top: 20px;
        }

        &__width {
          display: flex;
          justify-content: center;

          &--mobile {
            &--first {
              display: flex;
              padding-right: 26px;
            }

            &--second {
              display: flex;
              padding-right: 26px;
            }

            &--second:last-child {
              padding-right: 0;
            }
          }

          @media (max-width: 768px) {
            &--mobile {
              display: flex;
              flex-direction: column

              &--first {
                padding-right: 0;
              }

              &--second {
                padding-right: 0;
                padding-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.card {
  padding-right: 26px;
  cursor: pointer;

  @media (max-width: 768px) {
    padding-right: 0;
  }

  &--title {
    display: flex;
    justify-content: center;
    color: #2d7f7d;
    font-size: 30px;
    font-family: 'Cinzel Decorative', sans-serif;
    padding-top: 10px;
  }

  @media (max-width: 768px) {
    &--title {
      font-size: 20px;
    }
  }
}

.card:last-child {
  padding-right: 0;

  @media (max-width: 768px) {
    padding-top: 40px;
  }
}


.logo--small--top {
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
  max-width: 100%;

  &__img {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    //opacity: 0.5;

    //@media (max-width: 768px) {
    //  width: 100px;
    //}
  }
}


.logo--small--bottom {
  display: flex;
  justify-content: center;
  transform: translateY(50%);
  max-width: 100%;

  &__span {
    width: 495px;
  }

  &__img {
    width: 142px;
    height: 142px;
    border-radius: 50%;
  }


  @media (max-width: 768px) {
    //&__img {
    //  width: 100px;
    //}

    &__span {
      width: 0;
    }
  }

}


.card--img__floors {
  width: 471px;
  height: 471px;
  object-fit: cover;
  transition: all 0.3s;

  @media (max-width: 768px) {
    height: 300px;
    width: 300px;
  }

  @media (max-width: 480px) {
    height: 300px;
    width: 300px;
  }
}

.card--img__floors:hover {
  transform: scale(1.05);
}
