<app-menu></app-menu>
<!--<app-logo></app-logo>-->

<div class="verpakkingen lib-container--verpakkingen">
    <div class="klanten--review">
        <div class="klanten--review__img">
            <div *ngFor="let quote of quotes; index as i"
                 [ngClass]="{'active': currentIndex === i}" class="notactive">
                <img class="klanten--review__img__img" [src]="quote.image" src="./assets/review/review1.jpeg">
            </div>
            <div #controls
                 class="controls">
                <button class="prev-button" (click)="prevSlide()">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 16 16">
                        <path fill="#2d7f7d"
                              d="M8 16l1.4-1.4L3.8 9H16V7H3.8l5.6-5.6L8 0 0 8l8 8z"/>
                    </svg>
                </button>
                <button class="next-button" (click)="nextSlide()">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 16 16">
                        <path fill="#2d7f7d"
                              d="M8 0L6.6 1.4 12.2 7H0v2h12.2l-5.6 5.6L8 16l8-8-8-8z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="verpakkingen__opvulruimte"></div>
    <div class="verpakkingen__text">
        <div class="verpakkingen__text__title">
            onze verpakkingen
        </div>
        <div class="verpakkingen__text__subtitle">

        </div>
        <div class="verpakkingen__text__content">
            <p class="verpakkingen__text__content__content">
                Brouwer Verpakkingen is producent van kartonnen kokers in alle mogelijke soorten en kwaliteiten.<br><br>
                Met onze ervaring van meer dan 30 jaar weten we precies aan welke eisen de kartonnen kokers moeten voldoen.<br>
                Daarom zoeken we altijd naar een geschikte oplossing voor u als klant.
            </p>
            <p class="verpakkingen__text__content__content">
                We produceren spiraalgewikkelde kartonnen kokers voor verschillende markten.
                De kartonnen koker diameter van 50 t/m 300 mm produceren we dagelijks met lengtes van 70 mm t/m 600 cm
                en een wanddikte van 2 mm t/m 12 mm.<br><br>
                Alle kokers worden gemaakt van gerecycled karton en de kartonnen kokers zijn ook weer te recyclen.
                Hieronder een aantal soorten kokers die we maken:
            </p>
            <ul class="verpakkingen__text__content__content-bullet">
                <li>
                    <span class="verpakkingen__text__content__content-bullet-dot"></span>
                    <span>Tapijtkokers</span>
                </li>
                <li>
                    <span class="verpakkingen__text__content__content-bullet-dot"></span>
                    <span>Folieindustrie</span>
                </li>
                <li>
                    <span class="verpakkingen__text__content__content-bullet-dot"></span>
                    <span>Garenhulzen</span>
                </li>
                <li>
                    <span class="verpakkingen__text__content__content-bullet-dot"></span>
                    <span>Verzendkokers incl. Doppen</span>
                </li>
                <li>
                    <span class="verpakkingen__text__content__content-bullet-dot"></span>
                    <span>Posterkokers</span>
                </li>
                <li>
                    <span class="verpakkingen__text__content__content-bullet-dot"></span>
                    <span>Magazijnkokers</span>
                </li>
            </ul>
        </div>
    </div>
</div>
