.verpakkingen {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px;
  background: #e8efef;

  @media (max-width: 768px) {
    flex-direction: column;
    padding-top: 120px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
  }

  @media (min-width: 768px) and (max-width: 1050px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__image {
    width: 479px;
    height: 479px;
    object-fit: cover;

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
  }

  &__opvulruimte {
    width: 127px;
  }

  &__text {
    width: 560px;

    @media (max-width: 768px) {
      width: 100%;
      padding-top: 25px;
    }

    &__title {
      color: #2d7f7d;
      font-size: 40px;
      font-family: 'Cinzel Decorative', sans-serif;

      @media (max-width: 768px) {
        font-size: 32px;
      }
    }

    &__subtitle {
      font-size: 40px;
      font-family: 'Cinzel Decorative', sans-serif;

      @media (max-width: 768px) {
        font-size: 22px;
      }
    }

    &__content {
      font-family: "ProzaLibre", sans-serif;
      font-size: 19px;
      line-height: 1.1;
      text-align: left;

      @media (max-width: 768px) {
        font-size: 14px;
        line-height: 1.3;
      }

      &__content {
        text-align: left;
        margin-top: 24px;

        &-bullet {
          display: flex;
          flex-direction: column;
          padding-left: 0;

          &-dot {
            width: 9px;
            height: 9px;
            background-color: #2d7f7d;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

li {
  list-style: none
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

/* klanten */
.klanten {
  padding-top: 100px;
  padding-bottom: 200px;

  @media (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &--title {
    display: flex;
    justify-content: center;

    &__title {
      display: flex;
      justify-content: center;
      font-family: 'Cinzel Decorative', sans-serif;
      font-size: 40px;
      color: #ae9b63;
      padding-top: 100px;
      width: 479px;

      @media (max-width: 768px) {
        width: 100%;
        font-size: 30px;
        padding-top: 0;
      }
    }

    &__span {
      width: 687px;

      @media (max-width: 768px) {
        width: 0;
      }
    }
  }

  &--review {
    display: flex;
    justify-content: center;
    padding-top: 25px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    &__img {
      display: flex;
      align-items: center;
      transform: translateX(25px);

      @media (max-width: 768px) {
        transform: translateX(0);
      }

      &__img {
        width: 595px;
        height: 607px;
        object-fit: cover;
        object-position: bottom;
        border-radius: 45px;

        @media (max-width: 768px) {
          width: 100%;
          height: 100%;
        }
      }

    }

    &__text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 687px;
      transform: translateX(-25px);

      @media (max-width: 768px) {
        width: 90%;
        transform: translate(16px, -50px);
      }

      &__border {
        border: 1px solid #313131;
        background: #313131;
        border-radius: 15px;
        width: 600px;
        height: 440px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media (max-width: 768px) {
          width: 100%;
        }
      }

      &__name {
        display: flex;
        justify-content: center;
        font-family: 'Cinzel Decorative', sans-serif;
        font-size: 30px;
        color: white;
        margin: 0;
        padding-top: 20px;
      }

      &__text {
        display flex;
        justify-content: center;
        font-family: "ProzaLibre", sans-serif;
        text-align: center;
        margin: 0 100px;
        color: white;
        line-height: 1.5;
        font-size: 25px;

        @media (max-width: 768px) {
          font-size: 16px;
          margin: 0 40px;
        }
      }
    }
  }

  &--dots {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    &__dot {
      display: block;
      width: 25px;
      height: 25px;
      background-color: #ae9b63;
      border-radius: 50%;
      margin-right: 25px;
    }

    &__dot:last-child {
      margin-right: 0;
    }

    &__dot.active {
      background-color: #978961;
    }
  }
}

.notactive {
  display: none;
}

.active {
  display: block;
}

.controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  width: 93%;
  transform: translateY(-50%);
  padding-left: 18px;

  @media (max-width: 768px) {
    width: 94%;
    padding-left: 11px;
  }
}

.prev-button {
  padding: 19px;
  width: 55px;
  height: 55px;
  background-color: #e8efef;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  transition: transform .2s, box-shadow .2s, background-color .2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: 0;
  }

  @media (max-width: $bp-tablet) {
    padding: 14px;
    width: 45px;
    height: 45px;
  }
}

.next-button {
  padding: 19px;
  width: 55px;
  height: 55px;
  background-color: #e8efef;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  transition: transform .2s, box-shadow .2s, background-color .2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  &:focus {
    outline: 0;
  }

  @media (max-width: $bp-tablet) {
    padding: 14px;
    width: 45px;
    height: 45px;
  }
}
