.footer {
  height: 50px;
  width: 100%;
  background-color: #2d7f7d;
  display: flex;
  justify-content: center;

  &--left {
    display: flex;
    justify-content: center;
    align-items: center;

    &__copyright {
      width: 479px;
      font-family: "ProzaLibre", sans-serif;
      color: #fff;

      @media (max-width: 768px) {
        width: auto;
      }
    }
  }

  &--right {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    &__privacy {
      width: 560px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}
