<div class="footer">
    <div class="footer--left">
        <p class="footer--left__copyright">Copyright <span>&#169;</span> Brouwer verpakkingen</p>
    </div>
    <span class="opvulruimte opvulruimte__border-footer"></span>
    <div class="footer--right">
        <p class="footer--right__privacy">Algemene voorwaarden</p>
    </div>
</div>
