.contact {
  display: flex;
  justify-content: center;
  width: 100%;
  background: white;
  flex-direction: column;

  &--header {
    justify-content: center;
    display: flex;

    &__logo {
      padding-top: 80px;
      align-items: center;
      display: flex;
      width: 479px;
      margin: 0;

      @media (max-width: 768px) {
        justify-content: center;
      }
    }

    &__info {
      display: flex;
      width: 560px;

      @media (max-width: 768px) {
        display: none;
      }

      &__title {
        font-family: 'Cinzel Decorative', sans-serif;
        font-size: 40px;
        color: #2d7f7d;
        padding-top: 80px;

        @media (max-width: 768px) {
          padding-top: 0;
        }
      }

      &__mobile {
        display: none;

        @media (max-width: 768px) {
          display: block;
        }
      }
    }
  }

  &--content {
    justify-content: center;
    display: flex;
    margin-top: 55px;

    @media (max-width: 768px) {
      display: block;
    }

    &__naw {
      width: 479px;

      @media (max-width: 768px) {
        width: 100%;
        padding-bottom: 50px;
      }

      &__brouwer {
        &__bennie, &__arne {
          display: flex;

          @media (max-width: 768px) {
            padding: 0 15px 0 15px;
          }

          &__gegevens {
            color: #000;
            font-size: 20px;
            line-height: 1.5;
            font-family: "ProzaLibre", sans-serif;
            display: grid;
            align-items: center;
            padding-left: 50px;

            @media (max-width: 768px) {
              padding-left: 25px;
              font-size: 14px;
              line-height: 1;
            }
          }
        }

        &__arne {
          padding-top: 40px;
        }

      }

      &__adres {
        color: #000;
        font-size: 20px;
        line-height: 1.5;
        font-family: "ProzaLibre", sans-serif;
        padding-top: 50px;
      }

      &__bankgegevens {
        color: #000;
        font-size: 20px;
        line-height: 1.5;
        font-family: "ProzaLibre", sans-serif;
        padding-top: 25px;
      }

      @media (max-width: 768px) {
        &__adres, &__bankgegevens {
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }
}

.form {
  display: flex;
  width: 560px;
  padding-bottom: 70px;

  @media (max-width: 768px) {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;

    > form {
      width: 100%;
    }
  }

  &__top {
    width: 560px;
    padding-bottom: 15px;

    @media (max-width: 768px) {
      width: auto;
      display: flex;
      flex-direction: column;
    }

    &__input {
      height: 50px;
      width: 335px;
      border: none;
      background-color: #e8efef;
      color: black;
      outline: none;
      padding: 0 15px;
      font-family: "ProzaLibre", sans-serif;
      font-size: 14px;

      @media (max-width: 768px) {
        width: auto;
      }
    }

    &__input:first-child {
      margin-right: 15px;
      width: 150px;

      @media (max-width: 768px) {
        width: auto;
        margin-bottom: 15px;
        margin-right: 0;
      }
    }
  }

  &__bottom {
    width: 560px;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      width: auto;
    }

    &__input {
      height: 50px;
      border: none;
      background-color: #e8efef;
      color: black;
      margin-bottom: 15px;
      padding: 0 15px;
      outline: none;
      font-family: "ProzaLibre", sans-serif;
      font-size: 14px;

      &__question {
        height: 177px;
        padding-top: 20px;
        resize: none;
      }
    }
  }

  &__button {
    height: 50px;
    width: 180px;
    border: #2d7f7d;
    color: #fff;
    background: #2d7f7d;
    font-family:"ProzaLibre", sans-serif;
    cursor: pointer;
  }

  &__validatie {
    color: #2d7f7d;
    font-family: 'Cinzel Decorative', sans-serif;
  }
}

.img--bennie {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
