<div class="contact lib-container--contact" id="contact">
    <div class="contact--header">
        <figure class="contact--header__logo">
<!--            <img src="./assets/contact/logo-small.png">-->
        </figure>
        <span class="opvulruimte"></span>
        <div class="contact--header__info">
            <h1 class="contact--header__info__title">contact</h1>
        </div>
    </div>
    <div class="contact--content">
        <div class="contact--content__naw">
            <div class="contact--content__naw__brouwer">
                <div class="contact--content__naw__brouwer__bennie">
                    <img src="./assets/logo/logo-br.jpg" class="img--bennie">
                    <div class="contact--content__naw__brouwer__arne__gegevens">
                        <div class="contact--content__naw__brouwer__arne__naam">Arne Brouwer</div>
                        <div class="contact--content__naw__brouwer__arne__tel">0629169629</div>
                        <div class="contact--content__naw__brouwer__arne__email">abrouwer@brouwerverpakkingen.nl</div>
                    </div>
                </div>
                <div class="contact--content__naw__brouwer__arne">
                    <img src="./assets/logo/logo-br.jpg" class="img--bennie">
                    <div class="contact--content__naw__brouwer__bennie__gegevens">
                        <div class="contact--content__naw__brouwer__bennie__naam">Brouwer verpakkingen</div>
                        <div class="contact--content__naw__brouwer__bennie__tel">0383857358</div>
                        <div class="contact--content__naw__brouwer__bennie__email">info@brouwerverpakkingen.nl</div>
                    </div>
                </div>
            </div>
            <div class="contact--content__naw__adres">
                <div class="contact--content__naw__adres__straat">Jutestraat 12</div>
                <div class="contact--content__naw__adres__plaats">8281JS GENEMUIDEN</div>
                <div class="contact--content__naw__adres__website">www.brouwerverpakkingen.nl</div>
            </div>
            <div class="contact--content__naw__bankgegevens">
                <div class="contact--content__naw__bankgegevens__kvk">KvK: 05053476</div>
                <div class="contact--content__naw__bankgegevens__btw">BTW: NL.8060.95.167.B01</div>
            </div>
        </div>
        <span class="opvulruimte opvulruimte__borderleft"></span>

        <div class="form">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit($event)" [attr.disabled]="isSuccess">
                <div class="contact--header__info__mobile">
                    <h1 class="contact--header__info__title">contact</h1>
                </div>
                <div class="form__top">
                    <input class="form__top__input" placeholder="voornaam *" formControlName="firstName">
                    <input class="form__top__input" placeholder="achternaam *" formControlName="lastName">
                </div>
                <div class="form__bottom">
                    <input class="form__bottom__input" placeholder="telefoonnummer *" formControlName="phoneNumber">
                    <input class="form__bottom__input" placeholder="e-mail *" formControlName="email">
                    <textarea type="text" class="form__bottom__input form__bottom__input__question" placeholder="mijn vraag... *" formControlName="question"></textarea>
                </div>
                <button class="form__button" type="submit">
                    <span>VERSTUREN</span>
                </button>
                <p *ngIf="errorMessage" class="form__validatie">Voer alle velden juist in aub</p>
                <p *ngIf="response" class="form__validatie">Bedankt voor je bericht</p>
            </form>
        </div>
    </div>
</div>
