/* offerte */
.offerte {
  background-color: #e8efef;
  padding-top: 150px;
  width: 100%;
  padding-left: 242px;

  @media (max-width: 768px) {
    max-width: 94%;
    padding-left: 20px;
  }

  &--title {
    width: 50%;

    &__title {
      font-family: 'Cinzel Decorative', sans-serif;
      font-size: 40px;
      color: #2d7f7d;
    }
  }

  &--content {
    display: flex;
  }

  &--form {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  //vraag1
  &--question1 {
    padding-top: 10px;

    &__title {
      font-family: "ProzaLibre", sans-serif;
      font-size: 21px;
    }

    &__options {

      @media (max-width: 768px) {
        display: none;
      }

      &-mobile {
        display: none;

        @media (max-width: 768px) {
          display: block;
        }
      }

      &__firstrow {
        display: flex;
        width: 450px;
        justify-content: space-between;
        margin-bottom: 12px;

        &-mobile {
          display: none;

          @media (max-width: 768px) {
            display: flex;
            margin-bottom: 20px;
          }
        }
      }

      &__secondrow {
        display: flex;
        padding-top: 15px;
        width: 450px;
        justify-content: space-between;
        padding-bottom: 20px;

        &-mobile {
          display: none;

          @media (max-width: 768px) {
            display: flex;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  //vraag2
  &--question2 {
    padding-top: 10px;

    &__title {
      font-family: "ProzaLibre", sans-serif;
      font-size: 21px;
    }

    &__options {
      &__title {
        font-size: 14px;
        font-family: "ProzaLibre", sans-serif;
        padding-bottom: 8px;
      }

      &__input {
        padding-bottom: 20px;

        &--number {
          width: 16px;
          border: 1px solid #b7b8bb;
          border-radius: 5px;
          padding: 6px 14px;
          background: transparent;
          outline: none;
          text-align: center;
        }

        &--number:focus {
          border-color: #2d7f7d;
        }
      }
    }
  }


  //vraag3
  &--question3 {
    padding-top: 10px;

    &__title {
      font-family: "ProzaLibre", sans-serif;
      font-size: 21px;
    }

    &__options {
      &__title {
        font-size: 14px;
        font-family: "ProzaLibre", sans-serif;
        padding-bottom: 8px;
      }

      &__input {
        padding-bottom: 20px;

        &--number {
          width: 50px;
          border: 1px solid #b7b8bb;
          border-radius: 5px;
          padding: 6px 14px;
          background: transparent;
          outline: none;
          text-align: center;
        }

        &--number:focus {
          border-color: #2d7f7d;
        }
      }
    }
  }

  //vraag4
  &--question4 {
    padding-top: 25px;
    position: relative;

    &__title {
      font-family: "ProzaLibre", sans-serif;
      font-size: 21px;
    }

    &__options {
      &__title {
        font-size: 14px;
        font-family: "ProzaLibre", sans-serif;
        padding-bottom: 8px;
      }

      &__input {
        padding-bottom: 20px;

        &--number {
          width: 50px;
          border: 1px solid #b7b8bb;
          border-radius: 5px;
          padding: 6px 14px;
          background: transparent;
          outline: none;
          text-align: center;
        }

        &--number:focus {
          border-color: #2d7f7d;
        }
      }
    }
  }

  //tussenstuk
  &--question-between {
    height: 120px;
    width: 850px;
    background: #2d7f7d;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

    @media (max-width: 768px) {
      height: 220px;
      width: 91%;
      padding-right: 10px;
      padding-left: 10px;
    }

    &__title {
      font-family: "ProzaLibre", sans-serif;
      font-size: 19px;
      padding-top: 20px;
    }

    &__subtitle {
      font-family: "ProzaLibre", sans-serif;
      font-size: 15px;
      padding-top: 20px;

      @media (max-width: 768px) {
        padding-bottom: 15px;
      }
    }

    &__subtitlesub {
      font-family: "ProzaLibre", sans-serif;
      font-size: 15px;
      padding-top: 2px;
    }
  }

  //vraag5
  &--question5 {
    padding-top: 10px;

    &__title {
      font-family: "ProzaLibre", sans-serif;
      font-size: 21px;
    }

    &__form {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      &__title {
        font-size: 14px;
        font-family: "ProzaLibre", sans-serif;
        width: 100px;
      }

      &__input {
        margin-right: 20px;

        &--text {
          width: 150px;
          border: 1px solid #b7b8bb;
          border-radius: 5px;
          padding: 6px 14px;
          background: transparent;
          outline: none;
          text-align: center;
          font-size: 14px;
          font-family: "ProzaLibre", sans-serif;
        }

        &--text:focus {
          border-color: #2d7f7d;
        }

      }

      &__area {
        margin-right: 20px;

        &--text {
          width: 452px;
          height: 105px;
          border: 1px solid #b7b8bb;
          border-radius: 5px;
          padding: 6px 14px;
          background: transparent;
          outline: none;
          font-size: 14px;
          font-family: "ProzaLibre", sans-serif;
          resize: none;
        }

        &--text:focus {
          border-color: #2d7f7d;
        }

      }
    }
  }


}


//styling van de radio buttons
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &-mobile {
    margin-right: 20px;
  }
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2d7f7d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


//verberg pijltjes bij input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

//verzend button
.form__button {
  border-radius: 4px;
  border: 0;
  background: #2d7f7d;
  width: 230px;
  height: 40px;
  margin-bottom: 50px;
  cursor: pointer;
  color: #fff;
}

.offerte--pictures {
  height: 1000px;
  width: 100%;

  @media (max-width: 768px) {
    display: none;
  }


  &-img {
    width: 350px;
    position: fixed;
    right: 50px;
    top: 200px;
  }
}

.desktop {
  @media (max-width: 768px) {
    display: none;
  }
}

.mobile {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}
