<div class="offerte lib-container--offerte">
    <div class="offerte--title">
        <h1 class="offerte--title__title">offerte aanvragen</h1>
    </div>

    <div class="offerte--content">
    <form [formGroup]="offerteForm" (ngSubmit)="onSubmit($event)" [attr.disabled]="isSuccess" class="offerte--form">
        <!-- Vraag 1-->
        <div class="offerte--question1">
            <p class="offerte--question1__title">1. Kies uw diameter</p>
        </div>
        <div class="offerte--question1__options">
            <div class="offerte--question1__options__firstrow">
                <label for="50mm" class="container" (click)="fiftymm()">
                    50mm
                    <input type="radio" id="50mm" value="50mm" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
                <label for="76mm" class="container" (click)="seventySixmm()">
                    76mm
                    <input type="radio" id="76mm" value="76mm" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
                <label for="90mm" class="container" (click)="ninetymm()">
                    90mm
                    <input type="radio" id="90mm" value="90" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
                <label for="100mm" class="container" (click)="oneHundredmm()">
                    100mm
                    <input type="radio" id="100mm" value="100" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="offerte--question1__options__secondrow">
                <label for="110mm" class="container" (click)="oneHundredTenmm()">
                    110mm
                    <input type="radio" id="110mm" value="110" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
                <label for="120mm" class="container" (click)="oneHundredTwentymm()">
                    120mm
                    <input type="radio" id="120mm" value="120" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
                <label for="150mm" class="container" (click)="oneHundredFiftymm()">
                    150mm
                    <input type="radio" id="150mm" value="150" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
                <label for="200mm" class="container" (click)="twoHundredmm()">
                    200mm
                    <input type="radio" id="200mm" value="200" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>

        <div class="offerte--question1__options-mobile">
            <div class="offerte--question1__options__firstrow-mobile">
                <label for="50mm" class="container container-mobile" (click)="fiftymm()">
                    50mm
                    <input type="radio" id="50mm" value="50mm" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
                <label for="76mm" class="container container-mobile" (click)="seventySixmm()">
                    76mm
                    <input type="radio" id="76mm" value="76mm" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="offerte--question1__options__firstrow-mobile">
                <label for="90mm" class="container container-mobile" (click)="ninetymm()">
                    90mm
                    <input type="radio" id="90mm" value="90" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
                <label for="100mm" class="container container-mobile" (click)="oneHundredmm()">
                    100mm
                    <input type="radio" id="100mm" value="100" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="offerte--question1__options__secondrow-mobile">
                <label for="110mm" class="container container-mobile" (click)="oneHundredTenmm()">
                    110mm
                    <input type="radio" id="110mm" value="110" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
                <label for="120mm" class="container container-mobile" (click)="oneHundredTwentymm()">
                    120mm
                    <input type="radio" id="120mm" value="120" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="offerte--question1__options__secondrow-mobile">
                <label for="150mm" class="container container-mobile" (click)="oneHundredFiftymm()">
                    150mm
                    <input type="radio" id="150mm" value="150" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
                <label for="200mm" class="container container-mobile" (click)="twoHundredmm()">
                    200mm
                    <input type="radio" id="200mm" value="200" formControlName="diameter">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>

        <!-- Vraag 2 -->
        <div class="offerte--question2">
            <p class="offerte--question2__title">2. Kies uw wanddikte</p>
        </div>
        <div class="offerte--question2__options" *ngIf="showTwomm">
            <div class="offerte--question2__options__title">
                Keuze uit 2mm t/m 12mm
            </div>
            <div class="offerte--question2__options__input">
                <input type="number" formControlName="wanddikte" class="offerte--question2__options__input--number">
            </div>
        </div>
        <div class="offerte--question2__options" *ngIf="showThreemm">
            <div class="offerte--question2__options__title">
                Keuze uit 3mm t/m 12mm
            </div>
            <div class="offerte--question2__options__input">
                <input type="number" formControlName="wanddikte" class="offerte--question2__options__input--number">
            </div>
        </div>

        <!-- Vraag 3-->
        <div class="offerte--question3">
            <p class="offerte--question3__title">3. Kies uw lengte</p>
        </div>
        <div class="offerte--question3__options">
            <div class="offerte--question3__options__title">
                Lengte met minimum vanaf 500mm
            </div>
            <div class="offerte--question3__options__input">
                <input type="number" formControlName="lengte" class="offerte--question3__options__input--number">
            </div>
        </div>

        <div class="offerte--question-between">
            <div class="offerte--question-between__title">
                Wij helpen u graag verder met de gewenste kokers
            </div>
            <div class="offerte--question-between__subtitle">
                Het enige wat u hoeft te doen is onderstaande gegevens invullen. We zullen (meestal) binnen 24 uur reageren.
            </div>
            <div class="offerte--question-between__subtitlesub">
                Heeft u wensen over een ander soort kartonnen koker of product dan kunt u dit bij opmerkingen aangeven
            </div>
        </div>

        <!-- Vraag 4-->
        <div class="offerte--question4">
            <p class="offerte--question4__title">4. Hoeveel kokers heeft u nodig</p>
        </div>
        <div class="offerte--question4__options">
            <div class="offerte--question4__options__title" *ngIf="minimum150">
                Aantal kokers (Minimale afname is 150 stuks):
            </div>
            <div class="offerte--question4__options__title" *ngIf="minimum200">
                Aantal kokers (Minimale afname is 200 stuks):
            </div>
            <div class="offerte--question4__options__title" *ngIf="minimum100">
                Aantal kokers (Minimale afname is 100 stuks):
            </div>
            <div class="offerte--question4__options__input">
                <input type="number" formControlName="aantal" class="offerte--question4__options__input--number">
            </div>
        </div>

        <!-- Vraag 5-->
        <div class="offerte--question5">
            <p class="offerte--question5__title">Offerte aanvragen</p>
        </div>
        <!--desktop-->
        <span class="desktop">
            <div class="offerte--question5__form">
                <div class="offerte--question5__form__title">
                    Voornaam: *
                </div>
                <div class="offerte--question5__form__input">
                    <input type="text" formControlName="voornaam" class="offerte--question5__form__input--text">
                </div>
                <div class="offerte--question5__form__title">
                    Achternaam: *
                </div>
                <div class="offerte--question5__form__input">
                    <input type="text" formControlName="achternaam" class="offerte--question5__form__input--text">
                </div>
            </div>

            <div class="offerte--question5__form">
                <div class="offerte--question5__form__title">
                    Adres: *
                </div>
                <div class="offerte--question5__form__input">
                    <input type="text" formControlName="adres" class="offerte--question5__form__input--text">
                </div>
                <div class="offerte--question5__form__title">
                    Postcode: *
                </div>
                <div class="offerte--question5__form__input">
                    <input type="text" formControlName="postcode" class="offerte--question5__form__input--text">
                </div>
            </div>

            <div class="offerte--question5__form">
                <div class="offerte--question5__form__title">
                    Plaats: *
                </div>
                <div class="offerte--question5__form__input">
                    <input type="text" formControlName="plaats" class="offerte--question5__form__input--text">
                </div>
                <div class="offerte--question5__form__title">
                    Bedrijf:
                </div>
                <div class="offerte--question5__form__input">
                    <input type="text" formControlName="bedrijf" class="offerte--question5__form__input--text">
                </div>
            </div>
            <div class="offerte--question5__form">
                <div class="offerte--question5__form__title">
                    Telefoon: *
                </div>
                <div class="offerte--question5__form__input">
                    <input type="text" formControlName="telefoon" class="offerte--question5__form__input--text">
                </div>
                <div class="offerte--question5__form__title">
                    E-mail: *
                </div>
                <div class="offerte--question5__form__input">
                    <input type="text" formControlName="mail" class="offerte--question5__form__input--text">
                </div>
            </div>
            <div class="offerte--question5__form">
                <div class="offerte--question5__form__title">
                    Opmerking:
                </div>
                <div class="offerte--question5__form__area">
                    <textarea formControlName="opmerking" class="offerte--question5__form__area--text"></textarea>
                </div>
            </div>
        </span>

        <!--mobile-->
        <span class="mobile">
        <div class="offerte--question5__form">
            <div class="offerte--question5__form__title">
                Voornaam: *
            </div>
            <div class="offerte--question5__form__input">
                <input type="text" formControlName="voornaam" class="offerte--question5__form__input--text">
            </div>
        </div>
        <div class="offerte--question5__form">
            <div class="offerte--question5__form__title">
                Achternaam: *
            </div>
            <div class="offerte--question5__form__input">
                <input type="text" formControlName="achternaam" class="offerte--question5__form__input--text">
            </div>
        </div>

        <div class="offerte--question5__form">
            <div class="offerte--question5__form__title">
                Adres: *
            </div>
            <div class="offerte--question5__form__input">
                <input type="text" formControlName="adres" class="offerte--question5__form__input--text">
            </div>
        </div>
        <div class="offerte--question5__form">
            <div class="offerte--question5__form__title">
                Postcode: *
            </div>
            <div class="offerte--question5__form__input">
                <input type="text" formControlName="postcode" class="offerte--question5__form__input--text">
            </div>
        </div>

        <div class="offerte--question5__form">
            <div class="offerte--question5__form__title">
                Plaats: *
            </div>
            <div class="offerte--question5__form__input">
                <input type="text" formControlName="plaats" class="offerte--question5__form__input--text">
            </div>
        </div>
        <div class="offerte--question5__form">
            <div class="offerte--question5__form__title">
                Bedrijf:
            </div>
            <div class="offerte--question5__form__input">
                <input type="text" formControlName="bedrijf" class="offerte--question5__form__input--text">
            </div>
        </div>
        <div class="offerte--question5__form">
            <div class="offerte--question5__form__title">
                Telefoon: *
            </div>
            <div class="offerte--question5__form__input">
                <input type="text" formControlName="telefoon" class="offerte--question5__form__input--text">
            </div>
        </div>
        <div class="offerte--question5__form">
            <div class="offerte--question5__form__title">
                E-mail: *
            </div>
            <div class="offerte--question5__form__input">
                <input type="text" formControlName="mail" class="offerte--question5__form__input--text">
            </div>
        </div>
        <div class="offerte--question5__form">
            <div class="offerte--question5__form__title">
                Opmerking:
            </div>
            <div class="offerte--question5__form__area">
                <textarea formControlName="opmerking" class="offerte--question5__form__area--text" style="width: 130%"></textarea>
            </div>
        </div>
        </span>
        <!-- Verzenden -->
        <button class="form__button" type="submit">
            <span>VERSTUUR AANVRAAG</span>
        </button>
        <p *ngIf="errorMessage" class="form__validatie">Voer alle velden juist in aub</p>
        <p *ngIf="response" class="form__validatie">Bedankt voor je bericht</p>
    </form>

    <div class="offerte--pictures" id="test">
        <img class="offerte--pictures-img" src="./assets/offerte/kokers.png">
    </div>

    </div>
</div>
