/* logo */
.logo {
  display: flex;
  justify-content: center;
  padding-top: 100px;

  @media (max-width: 768px) {
    padding-top: 0;
  }

  @media (max-width: 768px) {
    padding-top: 50px;
  }

  &__image {
    width: 850px;
    height: 380px;

    @media (max-width: 768px) {
      max-width: 100%;
      object-fit: contain;
      height: 300px;
    }
  }
}
