<app-menu></app-menu>

<div class="slitting lib-container--slitting">
    <div class="klanten--review">
        <div class="klanten--review__img">
            <div *ngFor="let quote of quotes; index as i"
                 [ngClass]="{'active': currentIndex === i}" class="notactive">
                <img class="klanten--review__img__img" [src]="quote.image" src="./assets/review/review1.jpeg">
            </div>
            <div #controls
                 class="controls">
                <button class="prev-button" (click)="prevSlide()">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 16 16">
                        <path fill="#2d7f7d"
                              d="M8 16l1.4-1.4L3.8 9H16V7H3.8l5.6-5.6L8 0 0 8l8 8z"/>
                    </svg>
                </button>
                <button class="next-button" (click)="nextSlide()">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 16 16">
                        <path fill="#2d7f7d"
                              d="M8 0L6.6 1.4 12.2 7H0v2h12.2l-5.6 5.6L8 16l8-8-8-8z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="slitting__opvulruimte"></div>
    <div class="slitting__text">
        <div class="slitting__text__title">
            slitting
        </div>
        <div class="slitting__text__content">
            <p class="slitting__text__content__content">
                Wij verwerken verschillende soorten papier en karton voor verschillende markten. U kunt denken aan de verpakkingsindustrie, groothandels en papierindustrie.
                Dit alles doen we met een modern machinepark en gespecialiseerd personeel.
                <br><br>
                <b class="slitting__text__subtitle">Snijden</b><br>
                We versnijden rollen papier vanaf 1.400 mm naar een minimale breedte van 50 mm. Met gram gewicht van 50 tot 750 gram/m2. Dit alles is mogelijk te verwerken naar verschillende rol diameters en we kunnen dit ook op verschillend diameter kokers rollen.
                <br><br>
                Ook hebben we een speciale machine staan voor het maken van kleine handzame rollen zoals inpakpapier.
                <br><br>
                <b class="slitting__text__subtitle">Zagen</b>
                <br>
                Ook hebben we speciale zagen staan om grote rollen terug te brengen naar een kleinere breedte voor een betere verwerking of om waterschade van de rol te verwijderen.
            </p>
        </div>
    </div>
</div>
