body {
  margin: 0;
}

.opvulruimte {
  width: 127px;

  @media (max-width: 768px) {
    display: none;
  }

  &__borderleft {
    border-left: 1px solid #e8efef;
    height: 457px;
  }

  &__border-footer {
    border-left: 1px solid #e8efef;
    margin: 5px 0 5px 0;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
