<div class="logo lib-container--logo">
    <img class="logo__image" id="brouwerverpakkingen" src="./assets/logo/logo-br.jpg">
</div>

<div class="images" id="intro">
    <div class="images--right">
        <div class="images--right__top">
<!--            <a href="https://placeholder.com/"><img class="images&#45;&#45;right__top__left" src="https://via.placeholder.com/285x435"></a>-->
            <img class="images--right__top__left" src="./assets/hero/testlinksnieuw.jpg">
<!--            <a href="https://placeholder.com/"><img class="images&#45;&#45;right__top__right" src="https://via.placeholder.com/377x435"></a>-->
        <img class="images--right__top__right" src="./assets/hero/testrechtsnieuw.jpeg">

            <div class="logo--small">
<!--                <img class="logo&#45;&#45;small__img" src="./assets/logo/logo-mini.png">-->
                <img class="logo--small__img" src="./assets/logo/logo-mini-nieuw.png">
            </div>
        </div>
    </div>
</div>
