/* logo */
.logo {
  display: flex;
  justify-content: center;
  margin-top: 70px;

  @media (max-width: 768px) {
    margin-top: 30px;
  }

  &__image {
    width: 500px;
    //height: 380px;

    @media (max-width: 768px) {
      max-width: 100%;
      object-fit: contain;
      padding-top: 20px;
    }
  }

  &--small {
    position: absolute;
    z-index: 1;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: center;
    transform: translateY(45%);

    @media (max-width: 768px) {
      width: 95%;
    }

    &__img  {
      width: 142px;
      height: 142px;
      border-radius: 50%;
      object-fit: cover;
      object-position: left;
      //opacity: 0.5;
      //
      @media (max-width: 768px) {
        width: 103px;
        height: 103px;
      }
    }


  }
}

/* images */
.images {
  display: flex;
  justify-content: center;
  padding-top: 60px;

  @media (max-width: 768px) {
    padding-top: 0;
  }

  &--left {
    display: grid;

    @media (max-width: 768px) {
      display: none;
    }

    &__top {
      padding-bottom: 4px;

      &__left {
        padding-bottom: 10px;
      }
    }
  }

  &--right {
    position: relative;

    &__top {
      display: flex;
      padding-bottom: 10px;

      @media (max-width: 768px) {
        max-width: 100%
        padding-right: 10px;
        padding-left: 10px;
      }

      &__left {
        padding-right: 10px;
        width: 505px;

        @media (max-width: 768px) {
          width: 48%
          object-fit: cover;
        }
      }

      &__right {
        width: 515px;
        @media (max-width: 768px) {
          width: 48%
          object-fit: cover;
        }
      }
    }

    &__bottom {

      @media (max-width: 768px) {
        max-width: 100%;
        padding-right: 10px;
      }

      &__bottom {
        width: 99.5%;

        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
}
